.risa {
    width: 20px;
    height: 20px;
    align-items: center;
}

#parrafo_enserio{
    display: flex;
    margin-left: 115px;
}

.introduccion{
    display: flex;
}

.introduccion_portada{
    display: flex;
    margin-left: 115px;
    margin-right: 15px;
}

.numeros_cumple{
    width: 50px;
    height: 50px;
    align-items: center;
}

html{
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, orange, yellow);
    padding: 0;
    margin: 0;
    overflow: auto;
}

.pagina_con_fotos{
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, orange, yellow);
    padding: 0;
    margin: 0;
    overflow: auto;
}

h1{
    display: flex;
    justify-content: center;
}

.imagen{
    width: 25%;
    height: 25%;
    margin-bottom: 10px;
}

.imagen_pocas{
    width: 50%;
    height: 50%;
    margin-bottom: 20px;
}

.imagen_portada{
    width: 50%;
    height: 50%;
}

a{
    text-decoration: none;
}

#gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
div{
    overflow: auto;
}

.parrafo_corazon{
    display: flex;
    justify-content: center;
}

.gente{
    margin-left: 15px;
}

#dedicatoria_breve{
    margin-left: 0;
    display: flex;
}

.corazon{
    width: 15em;
    height: 15em;
}

p {
    margin-left: 15px;
}

.todos{
    margin-left: 100px;
}

.pie_volver{
    margin-left: 115px;
}

.feminista {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Estilos para los botones */
.feminista button {
    background-color: #ff9900; /* Color de fondo naranja */
    border: none;
    color: #fff; /* Color del texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño del texto */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Transición suave */
    margin: 10px; /* Espaciado exterior */
}

/* Estilos cuando se pasa el ratón por encima */
.feminista button:hover {
    background-color: #ffcc00; /* Color de fondo naranja más claro */
}

/* Estilos para los enlaces dentro de los botones */
.feminista button a {
    text-decoration: none; /* Quitar subrayado del enlace */
    color: inherit; /* Heredar el color del texto */
}

/* Estilos para los enlaces dentro de los botones cuando se pasa el ratón por encima */
.feminista button a:hover {
    text-decoration: underline; /* Subrayar el texto del enlace */
}

audio#miAudio {
    display: block !important; /* Asegura que el elemento de audio sea visible */
    width: auto !important; /* Ajusta el ancho según sea necesario */
    height: auto !important; /* Ajusta la altura según sea necesario */
}
